body{
  background-color: powderblue;
  width: 1100px;

}
.chablesz1{
  background-color: blue;
  width: 140%;
}
.chablesz2{
  background-color: blue;
  width: 140%;
}
.chablesz3{
  background-color: blue;
  width: 140%;
}
.chablesz4{
  background-color: blue;
  width: 140%;
}
.chablesz5{
  background-color: black;
  color: blue;
  width: 140%;
  border-width: 10px;
}
.chablesz7{
  width: 33%;
}
.chablesz11{
  width: 35%;
  background-color: blue;
}
.chablesz12{
  width: 35%;
}
.chablesz13{
  width: 140%;
}
.chablesz14{
  width: 140%;
}
.chablesz15{
  width: 55%;

}
h4{
  background-color: black;
  color: white;
  width: 35%;
  border-width: 10px;
}
a{
  color: blue;
  font-size: 220%;

}
<link rel="stylesheet" href="css/styles.css">
